@import'./base.css';

.header{
    
    padding:20px 0;
    box-shadow: 0px 4px 4px rgb(105, 167, 43) !important;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
}
.header .logo a{
    padding: 10px;
    color: rgb(105, 167, 43);
    font-size:50px ;
}
.logo i{
    color: rgb(198, 161, 113);
    padding-left: 10px;
    font-size:35px ;
}
.nav ul{
    display:flex;
    flex-wrap:wrap;
    gap:16px;
    padding-left: 15px ;
}
.nav ul li a{
    color:rgb(105, 167, 43);
    font-size: larger;
}
.auth{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    gap:10px;
    padding-right: 20px;
}
.auth a{
border-radius: 10px;
padding: 5.3541765213012695px 30.18113136291504px;
border:2px solid rgb(105, 167, 43);
font-weight:700;
}
.auth .login{
color:rgb(105, 167, 43);
}
.auth .register{
color:rgb(105, 167, 43);

}
.category , .product {
    
    width: 25%;
    padding: 20px;
    box-shadow: 0 4px 8px  rgb(105, 167, 43);
    margin: 10px;
    text-align: center;
}
.products h2{
    color:rgb(198, 161, 113);
    text-align: center;
    background-color:rgb(211, 235, 175);
    padding: 20px;
    font-size:xx-large;
}
.product span{
    color: rgb(105, 167, 43);
}
